<!DOCTYPE html>
<html lang="en" ng-app="driveOrFly">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Drive Or Fly</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>

  <script src="js/drive-or-fly.js"></script>
  <script src="js/private.js"></script>
  <script src="js/trip.js"></script>
  <script src="js/drive.js"></script>
  <script src="js/fly.js"></script>
</head>

<body>
  <div class="container">
    <h1>Drive or Fly</h1>

    <p ng-controller="TripCtrl">
      <code>{{something}}</code><br/>
      Origin: <input type="text" ng-model="origin"/><br/>
      Destination: <input type="text" ng-model="destination"/><br/>
      <button ng-click="callGetDistance()">callgetdistance</button>
    </p>
  </div>
</body>
</html>
